<div class="contenedor">

    <div class="wrapper">
        <div class="titulo">
            
            <h1>SGME</h1>
            
        </div>
        <div class="header" [style.height.px]="windowHeight*0.12">
           <p>Cristian Camilo</p><img src="../../assets/Escudos_2.png">
        </div>
        <div class="menu" [style.height.px]="windowHeight*0.88">
            
            <div class="nav flex-column nav-pills submenu" >
                <a class="nav-link active" routerLink="/reservacion" aria-selected="true">Reservacion</a>
                <a class="nav-link" aria-selected="false">Consulta Reservacion</a>
                <a class="nav-link" aria-selected="false">Cancelar Reservacion</a>
                <a class="nav-link" aria-selected="false">Actualizar Reservacion</a>
            </div>
        </div>
        <div class="modulos">
            
        </div>
      </div>
   

</div> 

