<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)">Month</div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)">Week</div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Day)">Day</div>
        </div>
        <div class="btn btn-secondary" (click)="closeOpenMonthViewDay()">Close</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <mwl-calendar-month-view
          *ngIf="view === CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngIf="view === CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngIf="view === CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>