<div class="contenedorpadre pt-5">
  <h4 class="text-center">RESERVA DE AULAS</h4>

  <!-- filtros para las modales -->
    <div>
      <!-- Filtros -->
      <h5>Filtros:</h5>
        <div class="row">
          <!-- Filtro por cédula fuera del acordeón -->
          <div class="col-sm-4 mb-3">
            <div class="input-group">
              <span class="input-group-text">
                <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                     width="24" height="24" viewBox="0 0 448.801 448.801" xml:space="preserve">
                  <g>
                    <path d="M408,91.8H258.4V64.6c0-18.768-15.232-34-34-34s-34,15.232-34,34v27.2H40.8C18.265,91.8,0,110.065,0,132.6v244.8
                      c0,22.535,18.265,40.801,40.8,40.801H408c22.535,0,40.801-18.266,40.801-40.801V132.6C448.801,110.065,430.535,91.8,408,91.8z
                       M224.4,51c7.514,0,13.6,6.086,13.6,13.6c0,7.514-6.086,13.6-13.6,13.6s-13.6-6.086-13.6-13.6C210.8,57.086,216.886,51,224.4,51z
                       M136,149.6c31.389,0,56.828,25.446,56.828,56.828c0,31.382-25.439,56.828-56.828,56.828s-56.828-25.445-56.828-56.828
                      C79.172,175.046,104.611,149.6,136,149.6z M224.4,370.6H47.6v-25.255c0-34.877,28.268-63.145,63.145-63.145h50.517
                      c34.871,0,63.138,28.268,63.138,63.145V370.6z M401.199,241.4H272V221h129.199V241.4z M408,193.8H238v-20.4h170V193.8z"/>
                  </g>
                </svg>
              </span>
              <input type="text" class="form-control" placeholder="Cédula del docente" [(ngModel)]="cedula" (change)="onChangecedulaUsuario($event)">
              <!-- Botón de búsqueda al final del input -->
              <button class="btn btn-outline-primary" (click)="onChangecedulaUsuario($event)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="16.5" y1="16.5" x2="22" y2="22"></line>
                </svg>        
              </button>
            </div>
          </div>
      
          <!-- Acordeón para búsqueda por Aula y Fecha -->
          <div class="col-sm-4 mb-3">
            <div class="accordion" id="accordionBusqueda">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingBusqueda">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBusqueda" aria-expanded="true" aria-controls="collapseBusqueda">
                    Mostrar opciones de búsqueda
                  </button>
                </h2>
                <div id="collapseBusqueda" class="accordion-collapse collapse" aria-labelledby="headingBusqueda" data-bs-parent="#accordionBusqueda">
                  <div class="accordion-body">
                    <!-- Búsqueda por Aula -->
                    <div class="mb-3">
                      <div class="input-group">
                        <span class="input-group-text">
                          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                               width="24" height="24" viewBox="0 0 474.000000 474.000000"
                               preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,474.000000) scale(0.100000,-0.100000)"
                               fill="#000000" stroke="none">
                              <path d="M2295 4260 c-1654 -5 -1732 -6 -1785 -24 -171 -57 -314 -169 -405
                              -316 -31 -49 -85 -190 -85 -220 0 -11 -4 -20 -10 -20 -7 0 -10 -447 -10 -1321
                              0 -877 3 -1318 10 -1314 6 3 10 -3 10 -14 0 -33 50 -162 83 -216 78 -127 182
                              -220 314 -281 144 -68 17 -64 1957 -64 1950 0 1809 -5 1961 65 174 80 323 248
                              375 423 7 23 17 42 22 42 10 0 11 2727 0 2732 -4 2 -18 32 -31 67 -94 260
                              -343 445 -621 463 -30 1 -833 1 -1785 -2z m1784 -481 c65 -14 123 -56 158
                              -116 l28 -48 3 -1228 c1 -830 -1 -1241 -8 -1267 -15 -56 -68 -120 -120 -147
                              l-45 -23 -1732 3 -1731 2 -43 30 c-24 17 -57 53 -74 80 l-30 48 0 1251 0 1251
                              25 44 c32 57 87 101 147 117 63 17 3343 20 3422 3z"/>
                              <path d="M1230 3307 c-105 -23 -208 -106 -252 -205 -34 -73 -32 -218 3 -292
                              34 -72 101 -140 174 -176 53 -26 71 -29 150 -29 78 0 98 4 152 29 146 67 234
                              234 202 384 -42 204 -232 332 -429 289z"/>
                              <path d="M2290 3309 c-173 -28 -339 -186 -379 -360 -25 -108 -3 -258 53 -352
                              93 -160 301 -259 480 -229 322 54 496 386 358 682 -37 79 -143 183 -225 220
                              -60 27 -165 51 -212 49 -11 -1 -45 -5 -75 -10z"/>
                              <path d="M3380 3310 c-111 -19 -220 -103 -267 -208 -39 -83 -39 -203 -1 -284
                              37 -80 105 -149 181 -184 54 -25 73 -29 152 -29 78 1 97 4 145 28 142 72 218
                              200 207 350 -14 209 -210 362 -417 327z"/>
                              <path d="M1013 2355 c-150 -41 -250 -144 -289 -294 -35 -138 19 -247 137 -281
                              19 -6 131 -10 251 -10 l216 0 17 53 c65 199 217 376 397 460 37 18 68 35 68
                              38 0 3 -24 14 -52 25 -47 16 -89 19 -373 21 -253 2 -331 -1 -372 -12z"/>
                              <path d="M3060 2363 c-36 -6 -120 -36 -119 -42 0 -4 32 -22 72 -41 181 -89
                              326 -258 391 -457 l18 -53 226 0 c200 0 232 3 267 19 84 39 119 96 120 191 0
                              125 -78 263 -186 327 -97 58 -139 63 -469 62 -162 -1 -306 -4 -320 -6z"/>
                              <path d="M1940 2111 c-123 -33 -221 -101 -295 -203 -54 -74 -82 -144 -96 -242
                              -13 -85 -2 -139 37 -186 53 -63 16 -60 783 -60 471 0 709 3 728 11 74 28 107
                              88 105 191 -3 191 -120 368 -297 453 -109 52 -142 55 -538 54 -314 0 -371 -3
                              -427 -18z"/>
                            </g>
                          </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Nombre del aula" [(ngModel)]="nombre_articulo" (change)="onChangeNombreArticulo($event)">
                      </div>
                    
                    
                    <!-- Búsqueda por Fecha -->
                    <div class="col-sm-4 mb-3">
                      <span class="fecha">Fecha:</span>
                      <input type="date" class="form-control" placeholder="Fecha" [(ngModel)]="fecha" (change)="onChangeFecha($event)">
                    </div>
                  </div>
                    

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
     
                <button class="btn btn-danger" (click)="openModal()">                
                  Crear reserva
                </button>
           
          </div>

        </div>
    </div>
      <!-- modales de los filtros -->
    <div class="buscador d-flex flex-wrap align-items-center">
      <!-- Modal para mostrar los datos obtenidos por cédula -->
      <ng-template #cedulaModal let-modal>
        <div class="modal fade show d-block cedula-modal" tabindex="-1" aria-labelledby="cedulaModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cedulaModalLabel">Datos obtenidos por Cédula</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Docente</th>
                      <th>Aula</th>
                      <th>Asignatura</th>
                      <th>Fecha Reserva</th>
                      <th>Fecha Fin Reserva</th>
                      <th>Estado</th>
                      <th>Novedad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dato of datosCedula">
                      <td>{{ dato.nombre_completo_docente }}</td>
                      <td>{{ dato.nombre_articulo }}</td>
                      <td>{{ dato.nombre_asignatura }}</td>
                      <td>{{ dato.fecha_reserva | date: 'MM/dd/yyyy, h:mm a' }}</td>
                      <td>{{ dato.fecha_fin_reserva | date: 'MM/dd/yyyy, h:mm a' }}</td>
                      <td>{{ dato.estado ? 'Aprobada' : 'Pendiente' }}</td>
                      <td>{{ dato.novedad }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- Modal para mostrar los datos obtenidos por Nombre del aula -->
      <ng-template #aulasModal let-modal>
        <div class="modal fade show d-block aulas-modal" tabindex="-1" aria-labelledby="aulasModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="aulasModalLabel">Datos obtenidos por Aula</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Docente</th>
                      <th>Aula</th>
                      <th>Asignatura</th>
                      <th>Fecha Reserva</th>
                      <th>Fecha Fin Reserva</th>
                      <th>Estado</th>
                      <th>Novedad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dato of datosAulas">
                      <td>{{ dato.nombre_completo_docente }}</td>
                      <td>{{ dato.nombre_articulo }}</td>
                      <td>{{ dato.nombre_asignatura }}</td>
                      <td>{{ dato.fecha_reserva | date: 'MM/dd/yyyy, h:mm a' }}</td>
                      <td>{{ dato.fecha_fin_reserva | date: 'MM/dd/yyyy, h:mm a' }}</td>
                      <td>{{ dato.estado ? 'Aprobada' : 'Pendiente' }}</td>
                      <td>{{ dato.novedad }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <hr>

        <!-- Modal para mostrar los datos obtenidos por fecha -->
      <ng-template #fechaModal let-modal>
        <div class="modal fade show d-block fecha-modal" tabindex="-1" aria-labelledby="fechaModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="fechaModalLabel">Datos obtenidos por Fecha</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Docente</th>
                      <th>Aula</th>
                      <th>Asignatura</th>
                      <th>Fecha Reserva</th>
                      <th>Fecha Fin Reserva</th>
                      <th>Estado</th>
                      <th>Novedad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dato of datosFecha">
                      <td>{{ dato.nombre_completo_docente }}</td>
                      <td>{{ dato.nombre_articulo }}</td>
                      <td>{{ dato.nombre_asignatura }}</td>
                      <td>{{ dato.fecha_reserva | date: 'MM/dd/yyyy, h:mm a' }}</td>
                      <td>{{ dato.fecha_fin_reserva | date: 'MM/dd/yyyy, h:mm a' }}</td>
                      <td>{{ dato.estado ? 'Aprobada' : 'Pendiente' }}</td>
                      <td>{{ dato.novedad }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <hr>

    <!-- Modal -->
    <ng-template #modal let-modal>
      <div class="modal fade show d-block" tabindex="-1" aria-labelledby="reservaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="reservaModalLabel">Reservar Aula</h5>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formRese">
                <div class="row">
                  <div class="col-sm-4 col-lg-4">
                    <label>Categorías:</label>
                    <select class="form-select" [(ngModel)]="id_categoria_sub" (change)="listarsubcategorias()" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let cate of categorias" [value]="cate.id">{{cate.nombre}}</option>
                    </select>
                    <div></div>
                    <label>Programa:</label>
                    <select class="form-select" formControlName="selectedPrograma" (change)="listarDocentes()">
                      <option *ngFor="let programa of programas" [value]="programa.id">{{programa.nombre}}</option>
                    </select>
                    <label>Fecha de reserva -Inicio:</label>
                    <input type="datetime-local" placeholder="Fecha de reserva -Inicio" class="form-control" formControlName="fecha_reserva" (mouseenter)="onMouseEnter(1)" (mouseout)="onMouseOut(1)">

                  </div>
          
                  <div class="col-sm-4 col-lg-4">
                    <label>Subcategorías:</label>
                    <select class="form-select" [(ngModel)]="id_subcate" [ngModelOptions]="{standalone: true}" (change)="listararticulossolicitud()">
                      <option *ngFor="let subcate of subcategorias" [value]="subcate.id">{{subcate.nombre}}</option>
                    </select>
                    <label>Docente:</label>
                    <select class="form-select" formControlName="id_docente" (change)="listarAsignaturas()">
                      <option *ngFor="let docente of docentes" [value]="docente.Id">
                        {{docente.primer_nombre}} {{docente.segundo_nombre}} {{docente.primer_apellido}} {{docente.segundo_apellido}}
                      </option>
                    </select>
                    <label>Fecha de reserva - Fin:</label>
                    <input type="datetime-local" placeholder="Fecha de reserva - Fin" class="form-control" formControlName="fecha_fin_reserva" (mouseenter)="onMouseEnter(1)" (mouseout)="onMouseOut(1)">
                  </div>
          
                  <div class="col-sm-4 col-lg-4">
                    <label>Aulas:</label>
                    <select class="form-select" formControlName="id_articulo" (change)="listararticulossolicitud()">
                      <option *ngFor="let articulo of listaarticulos" [value]="articulo.id">{{articulo.nombre}}</option>
                    </select>
                    <label>Asignaturas:</label>
                    <select class="form-select" formControlName="id_asignaturas_plan_estudio">
                      <option *ngFor="let asignatura of asignaturas" [value]="asignatura.asig_aca_id">{{asignatura.nombre}}</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <label>Novedad:</label>
                    <textarea class="form-control" placeholder="Novedad" formControlName="novedad"></textarea>
                  </div>
                </div>
          
                <div class="col-12 mt-3 boton">
                  <button (click)="guardarReserva()">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  <!-- Modal calendario -->

  <ng-template #modal1 let-modal>
    <div class="modal fade show d-block" tabindex="-1" aria-labelledby="reservaModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reservaModalLabel">Reservar Aula</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formRese">
              <div class="row">
                <div class="col-sm-4 col-lg-4">
                  <label>Categorías:</label>
                  <select class="form-select" [(ngModel)]="id_categoria_sub" (change)="listarsubcategorias()" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let cate of categorias" [value]="cate.id">{{cate.nombre}}</option>
                  </select>
                  <div></div>
                  <label>Programa:</label>
                  <select class="form-select" formControlName="selectedPrograma" (change)="listarDocentes()">
                    <option *ngFor="let programa of programas" [value]="programa.id">{{programa.nombre}}</option>
                  </select>

                </div>
        
                <div class="col-sm-4 col-lg-4">
                  <label>Subcategorías:</label>
                  <select class="form-select" [(ngModel)]="id_subcate" [ngModelOptions]="{standalone: true}" (change)="listararticulossolicitud()">
                    <option *ngFor="let subcate of subcategorias" [value]="subcate.id">{{subcate.nombre}}</option>
                  </select>
                  <label>Docente:</label>
                  <select class="form-select" formControlName="id_docente" (change)="listarAsignaturas()">
                    <option *ngFor="let docente of docentes" [value]="docente.Id">
                      {{docente.primer_nombre}} {{docente.segundo_nombre}} {{docente.primer_apellido}} {{docente.segundo_apellido}}
                    </option>
                  </select>
                </div>
        
                <div class="col-sm-4 col-lg-4">
                  <label>Aulas:</label>
                  <select class="form-select" formControlName="id_articulo" (change)="listararticulossolicitud()">
                    <option *ngFor="let articulo of listaarticulos" [value]="articulo.id">{{articulo.nombre}}</option>
                  </select>
                  <label>Asignaturas:</label>
                  <select class="form-select" formControlName="id_asignaturas_plan_estudio">
                    <option *ngFor="let asignatura of asignaturas" [value]="asignatura.asig_aca_id">{{asignatura.nombre}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <label>Novedad:</label>
                  <textarea class="form-control" placeholder="Novedad" formControlName="novedad"></textarea>
                </div>
              </div>
        
              <div class="col-12 mt-3 boton">
                <button (click)="guardarReserva()">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Modal para ver datos individuales -->


  <ng-template #reseModal let-modal>
          <div class="modal fade show d-block fecha-modal" tabindex="-1" aria-labelledby="fechaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="fechaModalLabel">Datos obtenidos por Fecha:</h5>
                  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body">
                  <div *ngFor="let dato of datosReserva" class="list-group">
                    <div class="list-group-item"><strong>Docente:</strong> {{ dato.nombre_completo_docente }}</div>
                    <div class="list-group-item"><strong>Aula:</strong> {{ dato.nombre_articulo }}</div>
                    <div class="list-group-item"><strong>Asignatura:</strong> {{ dato.nombre_asignatura }}</div>
                    <div class="list-group-item"><strong>Fecha Reserva:</strong> {{ dato.fecha_reserva | date: 'MM/dd/yyyy, h:mm a' }}</div>
                    <div class="list-group-item"><strong>Fecha Fin Reserva:</strong> {{ dato.fecha_fin_reserva | date: 'MM/dd/yyyy, h:mm a' }}</div>
                    <div class="list-group-item"><strong>Estado:</strong> {{ dato.estado ? 'Aprobada' : 'Pendiente' }}</div>
                    <div class="list-group-item"><strong>Novedad:</strong> {{ dato.novedad }}</div>
                  </div>
                  <div class="col-12 mt-3 boton d-flex justify-content-between" *ngIf="!isReservaAprobada">
                    <button type="button" class="btn btn-success" (click)="aprobarReserva()">Aprobar</button>
                    <button type="button" class="btn btn-danger" (click)="rechazarReserva()">Rechazar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
    </div>
    
    
    <!--calendario como tal -->
    <div class='calendario_div'>
    
  <!--    <button class="toggle-calendar-button" (click)="handleCalendarToggle()">
        {{ calendarVisible() ? 'Ocultar Calendario' : 'Desplegar Calendario' }}
      </button>
-->

          
          
          <br><br>
          <div>
            <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
              <ng-template #eventContent let-arg>
                <b>{{ arg.timeText }}</b>
                <i>{{ arg.event.title }}</i>
              </ng-template>
            </full-calendar>
          </div>
    </div>

</div>
